<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
</head>
<body>
    <div class="screen">
        <h1>Prime Park</h1>
        <h2>Bem-vindo</h2>

        <div class="menu-buttons">
            <a href="/entrada"><button class="btn-main">ENTRADA</button></a>
            <a href="/saida"><button class="btn-main">SAÍDA</button></a>
            <a href="/admin"><button class="btn-admin">RELATÓRIO DO PÁTIO</button></a>
        </div>
    </div>
</body>
</html>
